name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  format:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - uses: swatinem/rust-cache@v2
      - name: Install cargo-hack
        run: cargo install cargo-hack
      - name: Run Clippy
        run: cargo hack clippy --feature-powerset

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel: [stable, beta, nightly]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.channel }}
      - uses: swatinem/rust-cache@v2
      - name: Install cargo-hack
        run: cargo install cargo-hack
      - name: Run Tests
        run: cargo hack test --feature-powerset --verbose

  deny:
    name: Cargo Deny
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: swatinem/rust-cache@v2
      - name: Install cargo-deny
        run: cargo install cargo-deny
      - name: Run Deny
        run: cargo deny --all-features check

  udeps:
    name: Unused Deps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - uses: swatinem/rust-cache@v2
      - name: Install cargo-hack & cargo-udeps
        run: |
          cargo install cargo-hack
          cargo install cargo-udeps
      - name: Run Udeps
        run: cargo hack udeps --feature-powerset

  docs:
    name: Doc Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: swatinem/rust-cache@v2
      - name: Install cargo-hack
        run: cargo install cargo-hack
      - name: Run Doc Check
        env:
          RUSTDOCFLAGS: "-D warnings"
        run: cargo hack doc --feature-powerset --no-deps

  minimal-versions:
    name: Minimal Versions Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - uses: swatinem/rust-cache@v2
      - name: Install cargo-hack
        run: cargo install cargo-hack
      - name: Check with minimal versions
        run: cargo hack check --feature-powerset -Z minimal-versions
